@define-color pink      #f5c2e7;
@define-color lavender  #b4befe;
@define-color text      #cdd6f4;
@define-color surface0  #313244;
@define-color base      #1e1e2e;

* {
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    color: @text;
}

overshoot, 
undershoot, 
* > .overshoot.top, 
* > .overshoot.bottom {
    background-image: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

scrollbar, scrollbar * {
    all: unset;
    background: transparent;
    border: none;
    box-shadow: none;
    min-width: 0px;
    min-height: 0px;
    opacity: 0;
}

*:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

window {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}

#outer-box {
    background-color: @base;
    border: 2px solid @lavender;
    border-radius: 12px;
    padding: 10px;
}

#input, #input * {
    margin: 5px;
    border: none;
    background-color: @surface0;
    color: @pink;
}

#entry {
    background-color: @base;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 5px;
}

#entry:selected {
    background-color: @surface0;
    border: 2px solid @lavender;
    border-radius: 10px;
}
