@define-color rosewater #f5e0dc;
@define-color flamingo  #f2cdcd;
@define-color pink      #f5c2e7;
@define-color mauve     #cba6f7;
@define-color red       #f38ba8;
@define-color maroon    #eba0ac;
@define-color peach     #fab387;
@define-color yellow    #f9e2af;
@define-color green     #a6e3a1;
@define-color teal      #94e2d5;
@define-color sky       #89dceb;
@define-color sapphire  #74c7ec;
@define-color blue      #89b4fa;
@define-color lavender  #b4befe;

@define-color text      #cdd6f4;
@define-color subtext1  #bac2de;
@define-color subtext0  #a6adc8;
@define-color overlay2  #9399b2;
@define-color overlay1  #7f849c;
@define-color overlay0  #6c7086;
@define-color surface2  #585b70;
@define-color surface1  #45475a;
@define-color surface0  #313244;

@define-color base      #1e1e2e;
@define-color mantle    #181825;
@define-color crust     #11111b;

* {
    font-family: 'JetBrains Mono', 'Nerd Fonts Symbols';
}

window#waybar {
    background-color: @crust;
    padding: 20px;
}

/* WORKSPACES */

#workspaces {
    background-color: @base;
    border-radius: 15px;
    margin-right: 10px;
    margin: 5px 10px;
}

#workspaces button {
    color: @text;
    background-color: @base;
    font-weight: bolder;
    border-radius: 15px;
    animation: none;
    transition: none;
    padding: 0px 10px;
}

#workspaces button.active {
    color: @base;
    background-color: @text;
}

/* WINDOWS */

#window {
    color: @text;
    background-color: @base;
    border-radius: 15px;
    padding: 0px 10px;
    margin: 5px 10px;
}

window#waybar.empty #window {
    background-color: @base;
}

/* SWAY NOTIFICATION CENTER */

#custom-notification {
    color: @base;
    background-color: @red;
    font-weight: bolder;
    border-radius: 15px;
    padding: 0px 10px;
    margin: 5px 10px;
}

#custom-notification.none, #custom-notification.inhibited-none, #custom-notification.dnd-none, #custom-notification.dnd-inhibited-none {
    color: @text;
    background: @base;
}

/* CLOCK */

#clock {
    color: @text;
    background-color: @base;
    font-weight: bolder;
    border-radius: 15px;
    padding: 0px 10px;
    margin: 5px 10px;
}

/* IDLE INHIBITOR */

#idle_inhibitor {
    color: @text;
    background-color: @base;
    border-radius: 15px;
    padding: 0px 10px;
    margin: 5px 10px;
}

#idle_inhibitor.activated {
    color: @base;
    background-color: @text;
}

/* POWER PROFILES DAEMON */

#power-profiles-daemon {
    background-color: @base;
    border-radius: 15px;
    padding: 0px 10px;
    margin: 5px 10px;
}

#power-profiles-daemon.power-saver {
    color: @green;
}

#power-profiles-daemon.balanced {
    color: @yellow;
}

#power-profiles-daemon.performance {
    color: @base;
    background-color: @red;
}

/* WIREPLUMBER */

#wireplumber {
    background-color: @base;
    border-radius: 15px;
    padding: 0px 10px;
    margin: 5px 10px;
}

#wireplumber.quiet {
    color: @green;
}

#wireplumber.loud {
    color: @base;
    background-color: @green;
}

/* BACKLIGHT */

#backlight {
    background-color: @base;
    border-radius: 15px;
    padding: 0px 10px;
    margin: 5px 10px;
}

#backlight.dim {
    color: @yellow;
}

#backlight.bright {
    color: @base;
    background-color: @yellow;
}

/* BLUETOOTH */

#bluetooth {
    color: @base;
    background-color: @blue;
    border-radius: 15px;
    padding: 0px 10px;
    margin: 5px 10px;
}

#bluetooth.off, #bluetooth.disabled {
    color: @blue;
    background-color: @base;
}

/* NETWORK */

#network {
    color: @base;
    background-color: @sapphire;
    border-radius: 15px;
    padding: 0px 10px;
    margin: 5px 10px;
}

#network.disconnected {
    color: @sapphire;
    background-color: @base;
}

/* BATTERY */

#battery {
    color: @green;
    background-color: @base;
    border-radius: 15px;
    padding: 0px 10px;
    margin: 5px 10px;
}

#battery.warning {
    color: @peach;
}

#battery.critical {
    color: @red;
}

#battery.charging, #battery.plugged {
    color: @base;
    background-color: @mauve;
}